.form-stock-container {
  margin-top: 2rem;
  transition: all .5s ease-in-out;
}

.form-stock-container.active {
  display: block;
}

.form-stock.deactive {
  display: none;
}

.form-stock .forms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-stock .forms .input-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-stock .forms .input-form input {
  background-color: var(--color-white);
  padding: 1rem;
}

.buttons-form .btn-save {
  background-color: var(--color-black);
  padding: 1rem 2rem;
  color: var(--color-white);
  cursor: pointer;
}

.buttons-form {
  display: flex;
  align-items: start;
  gap: 2rem;
  margin-top: 2rem;
}

.buttons-form .cancell {
  background-color: gray;
  padding: 1rem 2rem;
  color: var(--color-white);
  cursor: pointer;
}

.input-box {
  display: flex;
  align-self: flex-start;
  margin-top: 2rem;
}

.input-box .input-file {
  display: none;
}

.input-box .btn-file {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: gray;
  color: var(--color-white);
  padding: 1rem 2rem;
  cursor: pointer;
}

.form-stock h3 {
  margin-top: 2rem;
  color: darkgray;
}

.form-stock .btn-logo {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: .5rem 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.box-upload {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

@media screen and (min-width: 48rem) {
  .form-stock .forms .box-inputs {
    display: flex;
    gap: 1rem;
  }

  .form-stock .forms .box-inputs .input-form {
    flex: 1;
  }

  .form-stock .buttons-form {
    flex-direction: row;
    align-items: center;
  }
}
