.pdf-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.pdf-container .header-pdf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-graylight);
  padding: .5rem;
  border-radius: 1rem;
}

.pdf-container .header-pdf h4 {
  color: var(--color-red);
}

.pdf-container .header-pdf .image-pdf {
  border-radius: 50%;
}

.btn-photos {
  display: none;
}

.label-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-gray);
  color: var(--color-white);
  padding: 1rem;
  cursor: pointer;
}

.pdf-container .preview-image {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border-radius: .5rem;
  margin-top: 1rem;
}

.pdf-container ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pdf-container h2 {
  font-size: 1.6rem;
  color: var(--color-gray);
}

.pdf-container .infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pdf-container .parts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.parts .part {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.parts .part p {
  font-size: 1.2rem;
}

.parts .part span {
  font-weight: 700;
  font-size: 1.3rem;
}

.btn-pdf {
  background-color: var(--color-black);
  padding: 1rem;
  color: var(--color-white);
  cursor: pointer;
  margin-bottom: 2rem;
}
